/* CUSTOM PROPS */
:root{
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80:rgba(10, 119, 95, 0.8);
  --accent-color-green-60:rgba(10, 119, 95, 0.6);
  --button-brown: #C99B67;
  --button-brown-80: rgba(201, 155, 103, 0.8);
  --button-brown-60: rgba(201, 155, 103, 0.6);
  --light-bg: #f8f8f2;
  --outline-color: var(--accent-color-green);
}

/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:  var(--text-color);
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px solid var(--outline-color);
  outline-offset: 3px;
}


/* BUTTONS */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-decoration: none;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  white-space: nowrap;
  gap: 10px;
  border: 0;
  background: var(--button-brown);
  padding: 16px 24px;
}

.button-green {
  background: var(--accent-color-green);
  color: #FFF;
}

.button-green:hover {
  background-color: var(--accent-color-green-80);
}

.button-green:active {
  background-color: var(--accent-color-green-60);
}


.button-brown {
  background: var(--button-brown);
  color: #FFF;
}

.button-brown:hover {
  background-color: var(--button-brown-80);
}

.button-brown:active {
  background-color: var(--button-brown-60);
}

.howitworks-brown-button {
  margin-top: 60px;
}

.order-summary-buttton {
  max-width: 175px;
  margin-left: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}


/* MODAL */
.os-modal--open {
  position: fixed;
}
.os-modal--open .os-modal__wrapper {
  display: block;
}

.os-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.os-modal__wrapper {
  display: none;
  max-width: 561px;
}

.os-modal__heading {
  color: #fff;
  font-weight: 700;
  font-size: 44px;
  font-variant: all-small-caps;
  background: #c99b67;
  padding: 19px 30px;
  margin: 0;
}

.os-modal__info {
  padding: 50px 30px;
  background-color: #fff;
}

.os-modal__text {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  margin-top: 0;
  margin-bottom: 10px;
}
.os-modal__text span {
  color: #0a775f;
}

.os-modal__description {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  margin-top: 0;
  margin-bottom: 50px;
}

.os-modal__price-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.os-modal__price {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

 
/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}


/* HEADER */
.site-header {
  display: block;
  background: #F3D7B7;
  padding-right: 30px;
  padding-left: 30px;
}

.site-header:before { 
  position: absolute;
  width: 160px;
  height: 160px;
  top: 48.7px;
  left: calc(50% - 80px);
  z-index: 1;
  transform: rotate(-25deg);
  content:url("../img/company-logo.png");
}

.site-header-hero-wrapper {
}

.site-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.site-header-logo-link {
  display: inline-block;
  text-decoration: none;
  flex-shrink: 0;
}

.site-header-logo-img {
  width: 235px;
  height: 24px;
}
.site-header-logo-img:hover{
  opacity: 0.8;
}
.site-header-logo-img:active{
  opacity: 0.6;
}

/* Sitenav */
.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitenav-list {
  display: flex;
  align-items: center; 
  list-style: none;
  margin: 0;
}

.sitenav-item {
  text-align: center;
}
.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  text-decoration: none;
  color: var(--text-color);
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
}
.sitenav-link:hover{
  color: var(--accent-color-green);
}
.sitenav-link:hover{
  color: var(--accent-color-green);
  opacity: 0.7;
}


/* HERO */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
}

.hero-info-wrapper {
  width: 464px;
  height: 331px;
  margin: 116px 0 0 100px
}

.hero-header {
  margin-top: 0;
  margin-bottom: 24px;
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text {
  margin: 0;
  margin-bottom: 34px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.hero-index-img {
  width: 710px;
  height: 696px;
  position: relative;
  object-fit: cover;
  top: 0;
  right: 0;
}


/* index-COLLECTION */
.index-collection{
  width: 100%;
  margin-bottom: 20px;
}

.index-collection-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray;
}

.index-collection-inner {
  width: 1480px;
  padding: 50px 143px;
  align-items: center;
  background-color: var(--light-bg);
  background-image: url("../img/leaf_1.png"), url("../img/leaf_2.png"), url("../img/leaf_3.png"), url("../img/index-collection-bg-img.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-position: 0 20px, 1245px 700px, 0 1250px, center;
}

.index-collection-heading {
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
}

.index-collection-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-collection-item {
  display: flex;
  align-items: center;
}
.index-collection-item:nth-child(even){
  flex-direction: row-reverse;
}

.index-collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

.index-collection-info {
  flex-grow: 1;
  padding: 0 117px;
}

.index-collection-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.index-collection-text {
  margin: 0;
  font-size: 23px;
  font-weight: 400;
  line-height: normal;
}
.index-collection-text:not(:last-child){
  margin-bottom: 10px;
}


/* index-FEATURES */
.index-features{
  margin-bottom: 30px;
}

.index-features-inner {
  padding: 50px 30px;
  background-image: url("../img/index-features-bg-img@2x.jpg");
  background-size: auto 700px;
  background-repeat: no-repeat
}

.index-features-headding {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.index-features-lead {
  max-width: 581px;
  height: 84px;
  margin: 0 auto 80px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.index-features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
.index-features-list:before { 
  position: absolute;
  margin-top: -609px;
  margin-left: -55px;
  content: url("../img/howitworks-logo.png");
}

.index-features-item {
  width: calc(100% /3 - 20px);
  margin-bottom: 30px;
}

.index-features-img {
  width: 433px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}

.index-features-itemi-header {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
}

.index-features-item-text {
  margin: 0;
  width: 377px;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


/* HOW-IT-WORKS */
.howitworks-inner {
  position: relative;
  padding: 50px 30px;
  background-color: var(--accent-color-green);
  background-image: url("../img/howitworks-bg-img.jpg"), url("../img/coffee-first-sticker.png");
  background-repeat: no-repeat,repeat;
  background-position: center, center center;
  text-align: center;
  background-size: auto 826px;
}
.howitworks-inner:before { 
  position: absolute;
  margin-top: -15px;
  margin-left: 400px;
  content: url("../img/coffee-first-sticker.png");
  z-index: 1;
}

.howitworks-header {
  margin: 0 0 70px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}

.howitworks-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: left;
  margin-bottom: 60px;
  counter-reset: how-it-works;
}

.howitworks-item {
  width: 433px;
  width: calc(100% /3 - 20px);
  height: 396px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  margin-left: -20px;
  background-color: var(--accent-color-green);
  background-image: url("../img/howitworks-bg-img.jpg"), url("../img/coffee-first-sticker.png");
  background-repeat: no-repeat,repeat;
  counter-increment: how-it-works;
}
.howitworks-item::before{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 1;
  text-align: right;
  border: 4px solid var(--button-brown);
  background-color: var(--light-bg);
  content: "";
  font-size: 50px;
}

.howitworks-inner-hr{
  margin: 0;
  margin-top: 30px;
  position: absolute;
  width: 899px;
  z-index: 1;
  border: 2px dashed #C99B67;
}
  
.howitworks-item-info {
  width: 433px;
  height: 396px;
  flex-shrink: 0;
  margin: 80px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--light-bg);
}
.howitworks-item-info::before{
  margin-bottom: 45px;
  font-size: 64px;
  line-height: normal;
  align-self: flex-end;
  content: "0" counter(how-it-works);
  color: #333;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
}

.howitworks-title {
  margin: 0 0 10px;
  width: 231px;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
}

.howitworks-text {
  margin: 0 0 20px;
  width: 385px;
  height: 112px;
  flex-shrink: 0;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


/* ABOUT-US */
.about-us-site-header .hero-text {
  max-width: 372px;
}

/* INDEX-COLLECTION */
.as-index-collection {
  margin-bottom: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray;
}

.as-index-collection-inner {
  padding: 160px 65px 200px 165px;
  display: flex;
  width: 1480px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-bg);
  background-image: url("../img/leaf_1.png"), url("../img/index-collection-bg-img.jpg");
  background-repeat: no-repeat, repeat;
  background-position: 0 20px,  center;
}

.as-index-collection-img {
  margin: 100px 185px 0 50px;
}

.as-index-collection-info {
  max-width: 626px;
}

.as-index-collection-info-title {
  margin-top: 0;
  margin-bottom: 24px;
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}

.as-index-collection-info-text {
  margin-top: 0;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


/* Index-features */
.as-index-features {
  width: 100%;
  height: 510px;
  max-width: 1440px;
  display: flex;
  margin-bottom: 20px;
  padding: 100px 143px 118px;
  background-color: #c99b67;
}

.as-index-features-info {
  max-width: 640px;
  flex-direction: column;
  margin-right: 38px;
}

.as-index-features-info-title {
  width: 397px;
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  margin-top: 0;
  margin-bottom: 24px;
}

.as-index-features-info-text {
  width: 639px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.as-index-features-img {
  width: 550px;
  height: 500px;
  margin-top: -180px;
}


/* OUR-HEADQUARTERSA */
.about-us-our-hq {
  width: 100%;
  padding: 50px 30px 100px;
  background-color: var(--accent-color-green);
}
.our-hq-header {
  margin: 0 0 80px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-variant: all-small-caps;
}

.our-hq-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.our-hq-item {
  position: relative;
  width: 433px;
  height: 396px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-color: #f8f8f2;
  padding: 40px 20px;
}

.our-hq-item-info {
  max-width: 231px;
}

.our-hq-title {
  margin: 0 0 10px;
  width: 231px;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
}
.our-hq-text {
  margin-top: 0;
  width: 385px;
  height: 112px;
  flex-shrink: 0;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.our-hq-item-img {
  position: absolute;
  top: 45px;
  right: 55px;

}


/* CREATE-PLAN */
.create-plan-site-header .hero-text {
  max-width: 372px;
}

.cp-main-content .howitworks-inner::before {
  content: "";
}

.cp-main-content .howitworks {
  margin-bottom: 20px;
}

.cp-main-content .index-collection-inner {
  background-position: -60px 800px, 1245px 175px, 0 100px, center;
}


/* CP-FEATURES */
.cp-features .index-collection-inner {
  display: flex;
  justify-content: space-between;
}

.cp-features__headers-list {
  max-width: 201px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cp-features__headers-item:not(:last-child) {
  margin-bottom: 35px;
}

.cp-features__headers-item--active {
  padding-bottom: 5px;
  border-bottom: 4px dashed #c99b67;
}

.cp-features__headers-item--active .cp-features__headers-link {
  color: #000;
}

.cp-features__headers-link {
  text-decoration: none;
  color: #555;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  text-transform: uppercase;
  font-variant: all-small-caps; 
}


/* CP - ACCORDION */
.cp-features__accordion-inner {
  display: flex;
  flex-direction: column;
  padding-right: 114px;
}

.cp-main-content .index-collection-inner {
  align-items: start;
  padding: 50px 30px 121px;
}

.cp-accordions-list {
  width: 660px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}
.cp-accordions-item {
  width: 100%;
}

.cp-accordions-item-label {
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
  font-variant: all-small-caps;
}

.cp-accordions-item-span {
  margin-left: 44px;
  transition: 0.3s ease;
}

.cp-accordions-item-span-icon {
  display: block;
  width: 18px;
  height: 11px;
  color: #333;
  transform: rotate(-90deg);
}

.cp-accordions-item-input {
  display: none;
}

.cp-accordions-panel-list {
  width: 100%;
  max-height: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding: 0;
  margin: 0;
}

.cp-accordions-panel-item {
  max-width: 205px;
  height: 220px;
  padding: 30px 16px;
  background-color: rgba(10, 119, 95, 0.2);
}

.cp-accordions-item:not(:last-child) {
  margin-bottom: 60px;
}

.cp-accordions-panel-item--active {
  color: #fff;
  background-color: var(--accent-color-green);
}

.cp-accordions-item-input:checked ~ .cp-accordions-panel-list {
  max-height: 220px;
  margin-top: 20px;
}
.cp-accordions-item-input:checked + .cp-accordions-item-label .cp-accordions-item-span {
  transform: rotate(90deg);
}

.cp-accordion-panel-item-title {
  font-weight: 500;
  font-size: 24px;
  font-variant: all-small-caps;
  margin: 0 0 10px;
}
.cp-accordion-panel-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  margin: 0;
}

/* Order-summary */
.order-summary {
  width: 659px;
  height: 181px;
  color: #fff;
  margin-bottom: 20px;
  padding: 40px 21px;
  background-color: var(--button-brown);
}

.order-summary__title {
  margin: 0 0 14px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.order-summary__text {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
}

.order-summary strong {
  color: var(--text-color);
}

/* FOOTER */
.site-footer{
  background-color: #f3d7b7;
}

.site-footer-inner{
  width: 1440px;
  height: 160px;
}

.site-footer-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.site-footer-item {
}
.site-footer-item:not(:last-child) {
  margin-right: 30px;
}

.site-footer-link:hover .site-footer-link-icon {
  display: block;
  color: var(--accent-color-green);
}

.site-footer-link-icon {
  color: #333;
  transition: display 0.3s ease;
}

.site-footer-link {
}



/* RETINA-IMG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .index-collection-inner{
    background-image: url("../img/index-collection-bg-img@2x.jpg")  
  }
  .index-features{
    background-image: url("../img/index-features-bg-img@2x.jpg")
  }
  .howitworks-inner {
    background-image: url("../img/howitworks-bg-img@2x.jpg")
  }
  .index-features-inner::before{
    content: url("../img/howitworks-logo@2x.png")
  }
  .howitworks-inner:before { 
    content: url("../img/coffee-first-sticker@2x.png");
  }
}